body{
    font-family: 'Montserrat', sans-serif; font-weight: 900;
}

body, body * {
    cursor: none;
}

.shapes{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #2128bd;
    overflow: hidden;
}
.shape{
    will-change: transform;
    position: absolute;
    border-radius: 50%;
}
.shape.shape-1{
    background: #005ffe;
    width: 650px;
    height: 650px;
    margin: -325px 0 0 -325px;
}

.shape.shape-2{
    background: #ffe5e3;
    width: 440px;
    height: 440px;
    margin: -220px 0 0 -220px;
}

.shape.shape-3{
    background: #C05472;
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
}

.content{
    top: 0; left: 0;
    position: absolute; display: flex;
    justify-content: center; align-items: center;
    height: 100vh; width: 100vw;
    background: #fff; mix-blend-mode: screen;
}

h1{
    font-size: 200px; color:#000;
    margin: 0; text-align: center;
}

.cursor {
    position: fixed; background: #2128bd;
    width: 20px; height: 20px;
    margin: -10px 0 0 -10px; border-radius: 50%;
    will-change: transform; pointer-events: none;
    z-index: 10000;
}

::selection{
    color:#fff; background: #2128bd;
}